@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.photo-container img {
  width: 400px;
  height: auto;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.buttons p {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
}

.buttons {
  /* width: 100%; */
  align-items: center;
  text-align: center;
}
