.graph-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .graph {
    width: 45%;
    margin: 20px;
  }
  
  .graph-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  